footer {
       text-align: center;
       background: black;
       padding: 25px;
       }


.copyright {
           color: #ffffff;
           font-size: 13px;
           margin: 20px;
           }