form {
     margin: 30px 30px;
     }


form label, form legend {
                        display: block;
                        font-size: 20px;
                        margin: 0 0 10px;
                        }

.input-padrao {
              display: block;
              margin: 0 0 20px;
              padding: 10px 25px;
              width: 50%;
              }


.checkbox {
          margin: 25px 0;
          }


.enviar {
        width: 40%;
        padding: 15px;
        background: red;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
        }


.enviar:hover {
              background: blue;
              transform: scale(1.2);
              }


table {
      margin: 20px 30px 40px;
      }


thead {
      background: #555555;
      color: white;
      font-size: bold;
      }


td, th {
       border: 1px solid #000000;
       padding: 15px 8px;
       }
