nav {
      box-sizing: border-box;
      height: 50px;
      padding: 1rem;
      display: flex;
      align-items: flex-end;
      background: rgb(37, 37, 39)
      }

nav {
    position: inline;
    top: 1rem;
    right: 3rem;
    }

nav li {
       display: inline;
       justify-content: space-between;
       align-items: center;
       margin: 0 0 0 0px;
       }

nav li a {  
         display: inline;
         color: white;
         font-weight: ;
         font-size: 20px;
         text-decoration: none;
         padding: 20px;
         transition: background 0.4s;
         }

nav a:hover {
            background-color: rgb(24, 139, 233);
            text-decoration:none;
            }

